/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}

@font-face {
    font-family: vking; /* Гарнитура шрифта */
    src: url(/img/blutbad3d/vking.ttf); /* Для IE5-8 */
    src: local(vking), url(/img/blutbad3d/vking.ttf); /* Для остальных браузеров */
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    /*outline: 0;*/
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}



a {
    color: #404040;
    text-decoration: none;
}

a.js {
    border-bottom: 1px dashed;
    text-decoration: none;
}

a:hover {
    color: #A50B0B;
}

acronym {
    border-bottom: 1px dotted;
    cursor: help;
}

body {
    background-color: #F0F0F0;
    color: #404040;
    font: 11px/1.27em Verdana, sans-serif;
}

fieldset {
    border: 1px solid;
    padding: 6px;
    padding-top: 0\9;
    /*white-space: nowrap;*/
    border-radius: 3px;
    border: 1px solid #7A858C;
    vertical-align: top;
}

legend {
    color: #556775;
    font-weight: bold;
    margin-bottom: 6px\9;
    padding: 0 .2em;
}

img.button {
    cursor: pointer;
}

img.disabled {
    cursor: default !important;
    filter: alpha(opacity=50);
    opacity: .5;
}

input,
select,
textarea {
    font-size: 1em;
    font-family: Verdana, sans-serif;
}

a.button {
    background: #FFFFFF url('/img/blutbad3d/b.jpg') repeat-x 0 -18px;
    border: 1px solid #404040;
    color: #333333;
    display: inline-block;
    *display: inline;
    font-weight: bold;
    line-height: 1.184em;
    padding: 1px .5em;
    white-space: nowrap;
    *zoom: 1;
}

a.button:hover {
    _color: #333333;
}

html.msie a.button {
    line-height: 1.19em;
    height: 14px;
}

html.msie8 a.button,
html.msie9 a.button {
    height: 13px;
}

input.button {
    background: #FFFFFF url('/img/blutbad3d/b.jpg') repeat-x 0 -9px;
    border: 1px solid #404040;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
    overflow: visible;
    padding: 1px .5em;
    *padding-top: 0;
    *padding-bottom: 0;
}

input.button[disabled] {
    color: gray;
    cursor: default;
}

input.button-help {
    background: url('/img/blutbad3d/p.jpg') repeat-x -25px 50%;
    cursor: help;
}

html.firefox input.button,
html.safari input.button{
    padding-top: 0;
    padding-bottom: 0;
}

input.password,
input.text,
textarea {
    border: 1px solid #3978AA;
    padding: 2px;
    -o-border-radius: 1px;
    -moz-border-radius: 1px;
    -khtml-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

input.password:active,

input.text:active,
textarea:active {
    outline:none;
    border: 1px solid #C4D8E2;
}


input.text:focus,input:focus, textarea:focus, isindex:focus, keygen:focus, select:focus {
    border: 1px solid #558BC4;
    outline:none;

    -o-box-shadow: 0 0 1px 1px #39f;
    -moz-box-shadow: 0 0 1px 1px #39f;
    -khtml-box-shadow: 0 0 1px 1px #39f;
    -webkit-box-shadow: 0 0 1px 1px #39F;
    box-shadow: 0 0 1px 1px #39F;
    border-color: #39F;
}

input.number {
    text-align: right;
}

input.placeholder {
    color: #A9A9A9;
}

input.readonly {
    background-color: #DFDFDF;
}

select {
    border: 1px solid #3978AA;
    padding: 1px;
    -o-border-radius: 1px;
    -moz-border-radius: 1px;
    -khtml-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

table th,
table td {
    vertical-align: top;
}

textarea {
    resize: vertical;
}

.attention {
    color: #FF0000;
}

.block {
    background-color: #DFDFDF;
    border: 1px solid;
    border-color: #EEEEEE #7F9DB9 #7F9DB9 #EEEEEE;
}

.invblock {
    /*background-color: #DFDFDF;
    border: 1px solid;
    border-color: #DDD #899096 #899096 #DDD;*/

    cursor: pointer;

    border: 1px solid #7F9DB9;
    margin-bottom: 1px;

    background: #CCD5DB;
    font-weight: bold;
    color: #4C3000;
    background: #CCD5DB url(/img/blutbad3d/tabs/tab_s.png) 50% 50% repeat-x;
}

.selblock {
    background-color: #DDE4E9;

    border: 1px solid #7F9DB9;
    /*border-color: #DDD #DDD #DDD #DDD;*/
    background: #DDE4E9;
}

.clear {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.dynamic {
    border-bottom: 1px dashed;
    text-decoration: none;
}

.invisible {
    display: none;
}

.main-content {
    background: #DFDFDF url('/img/blutbad3d/temple/back.jpg') repeat;
    padding: 10px;
}

.main-table {
    width: 100%;
}

.no-borders,
table.no-borders th,
table.no-borders td {
    border: 0 !important; /* убрать important как очищу battles-tt.html */
}

.nowrap {
    white-space: nowrap;
}

.wide-field {
    margin-right: 4px;
}

.wide-field input.text,
.wide-field input.password,
.wide-field select,
.wide-field textarea {
    width: 100%;
}

.wide-field-container {
    zoom: 1;
}

.wide-field-container input,
.wide-field-container textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    width: 100%;
}

/*
* jQuery UI CSS Framework
* Copyright (c) 2010 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Datepicker
----------------------------------*/
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}

/*
	Document   : jquery.pnotify.default.css
	Created on : Nov 23, 2009, 3:14:10 PM
	Author     : Hunter Perrin
	Description:
		Default styling for Pines Notify jQuery plugin.
*/

/* Экспериментально */
.ui-helper-hidden-accessible {
    top: 0;
}

/* Notice
----------------------------------*/
#notifies {
    _position: absolute;
    _left: expression( ( -0 - notifies.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
    _top: expression( ( ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
    _z-index: 1000;
}

.ui-pnotify {
    top: 1em;
    right: 1em;
    position: absolute;
    height: auto;
    /* Ensure that the notices are on top of everything else. */
    z-index: 9999;
}
/* This hides position: fixed from IE6, which doesn't understand it. */
html > body .ui-pnotify {
    position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
    margin: 0;
    position: absolute;
    top: .1em;
    left: .1em;
    bottom: -.2em;
    right: -.2em;
    z-index: -1;
}
.ui-pnotify-container {
    background-color: #7F9DB9;
    border: 2px solid #7F9DB9;
    height: 100%;
}
.ui-pnotify-closer {
    float: right;
    margin-left: .2em;
}

.ui-pnotify-closer .ui-icon {
    background-image: url(/img/blutbad3d/x.gif);
    height: 11px;
    margin-top: 1px;
    width: 11px;
    padding-left: 1px;
    padding-bottom: 1px;
}

.ui-pnotify-title {
    display: block;
    font-weight: bold;
    padding: 0 0 2px .5em;
    margin-right: 16px;
}

.ui-state-error .ui-pnotify-title {
    color: #FF0000;
}

.ui-pnotify-text {
    background-color: #DFDFDF;
    display: block;
    padding: 0.5em;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
    display: block;
    float: left;
    margin-right: .2em;
}
/* History Pulldown
----------------------------------*/
.ui-pnotify-history-container {
    position: absolute;
    top: 0;
    right: 18px;
    width: 70px;
    border-top: none;
    /* Ensure that the history container is on top of the notices. */
    z-index: 10000;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
    padding: 2px;
}
.ui-pnotify-history-container button {
    cursor: pointer;
    display: block;
    width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
    display: block;
    margin: 0 auto;
}

/*
 * Roll tabs
 */
.roll-tabs {
}

.roll-tabs .tabs-nav {
    white-space: nowrap;
}

.roll-tabs .tabs-nav li {
    background: url("/img/blutbad3d/sprite_tabs.gif") no-repeat;
    display: inline-block;
    *display: inline;
    margin: 0 .8em 0 1em;
    padding: 0;
    text-align: center;
    *zoom: 1;
}

.roll-tabs .tabs-nav li.ui-tabs-selected,
.roll-tabs .tabs-nav li.active {
    background-position: 0 -18px;
    position: relative;
    top: 1px;
}

.roll-tabs .tabs-nav a {
    background: url("/img/blutbad3d/sprite_tabs.gif") no-repeat 100% -36px;
    display: inline-block;
    *display: inline;
    font-weight: bold;
    line-height: 18px;
    right: -10px;
    padding-right: 19px;
    position: relative;
    text-decoration: none;
    *zoom: 1;
}

.roll-tabs .tabs-nav a:hover {
    color: #A50B0B;
}

.roll-tabs .tabs-nav .ui-tabs-selected a,
.roll-tabs .tabs-nav .active a {
    background-position: 100% -54px;
    color: #A50B0B;
}

.roll-tabs .tabs-content,
.roll-tabs .tab-content {
    background-color: #DFE1E2;
    border: 1px solid;
    border-color: #7F9DB9 #7F9DB9 #7F9DB9;
    padding: 1.9em;
    border-top: 0px solid;
}

.roll-tabs .tab-header {
    border-bottom: 1px solid #7F9DB9;
    font-size: 12px;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.roll-tabs .ui-tabs-hide {
    display: none;
}
/* end: Roll tabs */

/*
 * Battle(s)
 */
.side-1 {
    color: #BB5500;
}

.side-2 {
    color: #0055BB;
}

/*
 * inv view
 */
.inv-view-col {
    width: 253px;
}

.inv-view-col .nickname {
    margin-bottom: 1px;
    text-align: center;
}

.inv-view-col .nick-container {
    height: 16px;
    text-align: center;
}

.inv-view-col .block {
    background-color: inherit;
    border-color: #FFFFFF #666666 #666666 #FFFFFF;
    padding: 3px;
}

.inv-view-col .inv-container {
    border: 1px solid;
    border-color: #FFFFFF #666666 #666666 #FFFFFF;
    padding: 3px;
    position: relative;
    width: 245px;
}

#inv-overlay,
#inventory-overlay {
    background-color: #DFDFDF;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

#inv-overlay {
    background-image: url(/img/blutbad3d/block-loader.gif);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: alpha(opacity=80);
    opacity: .8;
}

#inventory-overlay {
    filter: alpha(opacity=50);
    opacity: .5;
}

.inv-view-col .bad-items .damage {
    color: #A50B0B;
}
/* end: Char view */

/*
 * Characteristics
 */
.invacteristics-col {
    padding: 15px 10px;
    padding-left: 5px;
    width: 230px;
}

.characteristics {
    width: 245px;
}

.characteristics .sortable {
    padding-top: 5px;
}

.characteristics .stat {
    width: 100%;

}

.characteristics thead th {
    text-align: left;
}

.characteristics .common {
}

.characteristics .tbodyst {
    /*background-color: rgba(222, 226, 231, 0.5);border: 1px solid #9AA2AD;*/
}
.characteristics .finance td.value,
.characteristics .mf td.value,
.characteristics .pow td.value,
.characteristics .animal td.value {
    font-weight: bold;
}
.characteristics .stat td.right,
.characteristics .stat td.value {
    text-align: right;
}

.characteristics .sortable .block {
    line-height: 1em;
    padding: 2px 3px 2px;
}

.characteristics .toggle {
    cursor: pointer;
}

.characteristics .move {
    cursor: n-resize;
    float: right;
    height: 9px;
    margin-top: 1px;
    *margin-top: 2px;
    width: 9px;
}

.characteristics .stat tbody td,
.characteristics .stat tfoot td {
    padding: 1px 2px;
}

.characteristics .br{
    border-bottom: 1px solid #9AA2AD;
}

.characteristics .abilities tfoot td {
    text-align: center;
}

.characteristics .abilities tbody img {
    cursor: pointer;
    height: 11px;
    position: relative;
    top: 1px;
    width: 11px;
}

.characteristics .avail-points {
    background-color: #FFDDDD;
    color: #FF0000;
    font-weight: bold;
    text-align: center;
}

.characteristics .dist-table-link {
    margin-top: .2em;
}

.characteristics img.delete {
    cursor: pointer;
    vertical-align: middle;
}

.characteristics .dress-up {
    vertical-align: middle;
}

.characteristics .no-kits {
    text-align: center;
}

.savekit {
    font-weight: bold;
    text-align: center;
}

#dismount-col {
    font-weight: bold;
    text-align: center;
}

div.stats-highlight,
tbody.stats-highlight td {
    background-color: #FFF0AA;
}

#kit-dialog #kit {
    width: 120px;
}

.characteristics .stat-up td {
    cursor: pointer;
}
/* end: Characteristics */

/*
 * inv items
 */
.inv-items {
    background-color: #DEDEDE;
    height: 325px;
    position: relative;
    width: 245px;
}

.inv-items-no-gems {
    height: 290px;
}

.inv-items-full-size {
    height: 290px;
}

.inv-items li {
    overflow: hidden;
    position: absolute;
}

.inv-items img.item {
    background-color: #DEDEDE;
}

.inv-items img.active {
    cursor: pointer;
}

img.broken {
    filter: alpha(opacity=50);
    opacity: .5;
}

.inv-items .armor,
.inv-items .avatar,
.inv-items .belt,
.inv-items .bracelet,
.inv-items .earring,
.inv-items .helmet,
.inv-items .gloves,
.inv-items .necklace,
.inv-items .pants,
.inv-items .pocket,
.inv-items .ring,
.inv-items .rune,
.inv-items .shield,
.inv-items .shoes,
.inv-items .shoulder,
.inv-items .stone,
.inv-items .gem,
.inv-items .weapon {
    background-image: none;
}
.inv-items .weapon2 {
    background-image: none;
}

.inv-items .armor,
.inv-items .armor img.item {
    height: 105px;
    width: 70px;
}

.inv-items .armor {
    left: 0;
    top: 115px;
}

.inv-items .armor-empty {
    background-image: url(/img/blutbad3d/char_armor.gif);
}

.inv-items .avatar,
.inv-items .avatar img {
    height: 220px;
    width: 105px;
}

.inv-items .avatar {
    left: 70px;
    top: 35px;
}

.inv-items-full-size .avatar,
.inv-items-full-size .avatar img {
    height: 290px;
    width: 245px;
}

.inv-items-full-size .avatar {
    left: 0;
    top: 0;
}

.inv-items .belt,
.inv-items .belt img.item {
    height: 35px;
    width: 70px;
}

.inv-items .belt {
    left: 0px;
    top: 255px;
}

.inv-items .belt-empty {
    background-image: url(/img/blutbad3d/char_belt.gif);
}

.inv-items .bracelet,
.inv-items .bracelet img.item {
    height: 35px;
    width: 70px;
}

.inv-items .bracelet {
    left: 175px;
    top: 70px;
}

.inv-items .bracelet-empty {
    background-image: url(/img/blutbad3d/char_bracelet.gif);
}

.inv-items .earring,
.inv-items .earring img.item {
    height: 35px;
    width: 70px;
}

.inv-items .earring {
    left: 175px;
    top: 0;
}

.inv-items .earring-empty {
    background-image: url(/img/blutbad3d/char_earring.gif);
}

.inv-items .helmet,
.inv-items .helmet img.item {
    height: 45px;
    width: 70px;
}

.inv-items .helmet {
    left: 0;
    top: 0;
}

.inv-items .helmet-empty {
    background-image: url(/img/blutbad3d/char_helmet.gif);
}

.inv-items .gloves,
.inv-items .gloves img.item {
    height: 35px;
    width: 70px;
}

.inv-items .gloves {
    left: 175px;
    top: 105px;
}

.inv-items .gloves-empty {
    background-image: url(/img/blutbad3d/char_gloves.gif);
}

.inv-items .necklace,
.inv-items .necklace img.item {
    height: 35px;
    width: 70px;
}

.inv-items .necklace {
    left: 175px;
    top: 35px;
}

.inv-items .necklace-empty {
    background-image: url(/img/blutbad3d/char_necklace.gif);
}

.inv-items .pants,
.inv-items .pants img.item {
    height: 105px;
    width: 70px;
}

.inv-items .pants {
    left: 0;
    top: 220px;
}

.inv-items .pants-empty {
    background-image: url(/img/blutbad3d/char_pants.gif);
}

.inv-items .pocket,
.inv-items .pocket img.item,
.inv-items .ring,
.inv-items .ring img.item,
.inv-items .rune,
.inv-items .rune img.item,
.inv-items .stone,
.inv-items .stone img.item,
.inv-items .gem,
.inv-items .gem img.item {
    height: 35px;
    width: 35px;
}

.inv-items .pocket-empty {
    background-image: url(/img/blutbad3d/char_pocket.gif);
}

.inv-items .pocket-1,
.inv-items .slot-50 {
    left: 180px;
    top: 210px;
}

.inv-items .pocket-2,
.inv-items .slot-51 {
    left: 210px;
    top: 210px;
}

.inv-items .ring-empty {
    background-image: url(/img/blutbad3d/char_ring.gif);
}

.inv-items .ring-1,
.inv-items .slot-10 {
    left: 0px;
    top: 220px;
}

.inv-items .ring-2,
.inv-items .slot-11 {
    left: 35px;
    top: 220px;
}

.inv-items .ring-3,
.inv-items .slot-12 {
    left: 175px;
    top: 210px;
}

.inv-items .ring-4,
.inv-items .slot-38 {
    left: 210px;
    top: 210px;
}

.inv-items .rune-empty {
    background-image: url(/img/blutbad3d/char_rune.gif);
}

.inv-items .rune-1,
.inv-items .slot-40 {
    left: 70px;
    top: 0;
}

.inv-items .rune-2,
.inv-items .slot-41 {
    left: 105px;
    top: 0;
}

.inv-items .rune-3,
.inv-items .slot-42 {
    left: 140px;
    top: 0;
}

.inv-items .rune-4,
.inv-items .slot-43 {
    left: 70px;
    top: 255px;
}

.inv-items .rune-5,
.inv-items .slot-44 {
    left: 105px;
    top: 255px;
}

.inv-items .rune-6,
.inv-items .slot-45 {
    left: 140px;
    top: 255px;
}

.inv-items .shield,
.inv-items .shield img.item {
    height: 70px;
    width: 70px;
}

.inv-items .shield {
    left: 175px;
    top: 140px;
}

.inv-items .shield-empty {
    background-image: url(/img/blutbad3d/char_shield.gif);
}

.inv-items .shoes,
.inv-items .shoes img.item {
    height: 45px;
    width: 70px;
}

.inv-items .shoes {
    left: 175px;
    top: 245px;
}

.inv-items .shoes-empty {
    background-image: url(/img/blutbad3d/char_shoes.gif);
}

.inv-items .shoulder,
.inv-items .shoulder img.item {
    height: 35px;
    width: 70px;
}

.inv-items .shoulder {
    left: 180px;
    top: 70px;
}

.inv-items .shoulder-empty {
    background-image: url(/img/blutbad3d/char_shoulder.gif);
}

.inv-items .stone,
.inv-items .gem {
    top: 290px;
}

.inv-items .stone-empty,
.inv-items .gem-empty {
    background-image: url(/img/blutbad3d/char_stone.gif);
}

.inv-items .stone-1,
.inv-items .gem-1,
.inv-items .slot-20 {
    left: 0;
}

.inv-items .stone-2,
.inv-items .gem-2,
.inv-items .slot-21 {
    left: 35px;
}

.inv-items .stone-3,
.inv-items .gem-3,
.inv-items .slot-22 {
    left: 70px;
}

.inv-items .stone-4,
.inv-items .gem-4,
.inv-items .slot-23 {
    left: 105px;
}

.inv-items .stone-5,
.inv-items .gem-5,
.inv-items .slot-24 {
    left: 140px;
}

.inv-items .stone-6,
.inv-items .gem-6,
.inv-items .slot-25 {
    left: 175px;
}

.inv-items .stone-7,
.inv-items .gem-7,
.inv-items .slot-26 {
    left: 210px;
}

.inv-items .weapon,
.inv-items .weapon img.item {
    height: 70px;
    width: 70px;
}
.inv-items .weapon2,
.inv-items .weapon2 img.item {
    height: 70px;
    width: 70px;
}

.inv-items .weapon {
    left: 0;
    top: 45px;
}

.inv-items .weapon2 {
    left: 70px;
    top: 45px;
    display: none;
}

.inv-items .weapon-empty {
    background-image: url(/img/blutbad3d/char_weapon.gif);
}

.inv-items .weapon2-empty {
    background-image: url(/img/blutbad3d/char_weapon.gif);
}

.inv-states{
    margin-top: 1em;
    width: 253px;
    border: 1px solid #8B8B8B;
    font-size: 11px;
}
.inv-states th {
    background-color: #7F9DB9;
    color: #EAF0F5;
    font-size: 12px;
    font-weight: normal;
    padding: 1px;
    border-bottom: 1px solid #8B8B8B;
}

.inv-states .name {
    text-align: right;
    width: 60%;

}
.inv-states .name, .inv-states .value {
    padding: 0 3px;
}
.inv-states td {
    background-color: #DFDFDF;
    /*border-top: 1px solid #DFDFDF;*/
    border-right: 1px solid #8B8B8B;
    border-left: 1px solid #8B8B8B;
    padding: 3px;
    vertical-align: middle;
}
.inv-states .value {
    font-weight: bold;
}


.inv-states .lk {
    color: #3D54B8;
}
.inv-states .it {
    color: #A50B0B;
}
.inv-states .vs {
    color: #0BA53C;
}
.inv-states .ia {
    color: #A50B74;
}
.inv-states .ma {
    color: #0B7AA5;
}

.inv-abilities .actions li {
    display: block;
    float: left;
    overflow: hidden;
}

.uinf {
    padding-top: 0;
    padding-right: 0;
    width: 350px;
}

.uinf table {
    background-color: #DFDFDF;
    width: 100%;
}

.uinf th {
    background-color: #7F9DB9;
    color: #FFFFFF;
    font-size: 11px;
    padding: .3em;
}

.uinf td {
    padding: .1em .3em;
}

/*.inv-items .loading {
	background: url(/img/blutbad3d/admin/ajax-loader.gif) no-repeat 50% 50%;
}*/
/* end: Char items */

/*
 * Context menu
 */
#context-menu {
    background-color: #CFCFCF;
    border: 1px solid;
    border-color: #EFEFEF #505050 #505050 #EFEFEF;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}

#context-menu .separator {
    margin-top: 6px;
}

#context-menu a {
    display: block;
    color: darkred;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
    white-space: nowrap;
}

#context-menu a:hover,
#context-menu a.hover {
    background-color: #F0F0F0;
}
/* end: Context menu */

/*
 * Datepicker
 */
.ui-datepicker {
    border: 2px solid #7F9DB9;
    background-color: #DFDFDF;
    padding: 0;
}

.ui-datepicker table {
    margin: 0;
}

.ui-datepicker th {
    background-color: #7F9DB9;
    color: #404040;
    padding: .3em;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    text-indent: 0;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    cursor: pointer;
    top: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left:2px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right:2px;
}

.ui-datepicker-current-day {
    background-color: #DFDFDF;
}

.ui-datepicker-current-day a {
    font-weight: bold;
}

.ui-datepicker-unselectable {
    color: #ABABAB;
}

.hasDatepicker,
.ui-datepicker-trigger {
    vertical-align: middle;
}

.ui-datepicker-trigger {
    cursor: pointer;
    margin-left: .5em;
    vertical-align: middle;
}
/* end: Datepicker */

/*
 * Dialog
 */
.ui-dialog {
    background-color: #307CDF;
    border: 1px solid #336491;
    position: absolute;
    overflow: hidden;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0 0 2px 0;
    position: relative;
    text-align: center;
    background: -webkit-gradient(linear,left top,left bottom,from(#94B2FF),to(#2A4E83));
    background: -moz-linear-gradient(top,#94B2FF,#2A4E83);
    background: -o-linear-gradient(top,#94B2FF 0,#2A4E83 100%);
    background: -ms-linear-gradient(top,#94B2FF,#2A4E83);
    background: linear-gradient(top,#94B2FF,#2A4E83);
}

.ui-dialog .ui-dialog-title {
    font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar-close {
    height: 12px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 12px;
}

.ui-dialog .ui-dialog-titlebar-close span {
    background: url('/img/blutbad3d/clear.gif') no-repeat 50% 50%;
    cursor: pointer;
    display: block;
    height: 12px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    width: 12px;
}

.ui-dialog .ui-dialog-titlebar-close span:hover {
    background: url('/img/blutbad3d/xs.gif') no-repeat 50% 50%;
}

.ui-dialog .ui-dialog-content {
    background-color: #E4E4E4;
    border: 0;
    border: 1px solid #0085FF;
    position: relative;
    padding: 1em;
    overflow: auto;
}

.ui-dialog .ui-dialog-buttonpane {
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
    text-align: left;
}

.ui-dialog .ui-dialog-buttonpane button {
    cursor: pointer;
    float: right;
    line-height: 1.4em;
    margin: .5em .4em .5em 0;
    padding: .2em .6em .3em .6em;
    overflow: visible;
    width: auto;
}

.ui-dialog .ui-resizable-se {
    bottom: 3px;
    height: 14px;
    right: 3px;
    width: 14px;
}

.ui-dialog .ui-dialog-title {
    display: inline-block;
    padding: 0 1.5em;
    color: #EBEBEB;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-widget-overlay {
    background-color: gray;
    filter: alpha(opacity=50);
    opacity: .5;
}
/* end: Dialog */

/*
 * Battle controls settings
 */
#battle-controls-settings {
    text-align: center;
}

#battle-controls-settings li {
    display: inline-block;
    *display: inline;
    margin: .5em;
    *zoom: 1;
}
/* end: Battle controls settings */

/*
 * Period Dialog
 */
.period-dialog-form table {
    width: 300px;
}

.period-dialog-form td,
.select-dialog-form td {
    padding: .2em .1em;
}

.period-dialog-form td.label,
.select-dialog-form td.label {
    white-space: nowrap;
}

.period-dialog-form td label,
.select-dialog-form td label {
    display: block;
    margin-top: .1em;
}

.period-dialog-form textarea {
    height: 150px;
    width: 350px;
}

.period-dialog-form #period-desc {
    width: 350px;
}
/* end: Period Dialog*/

/*
 * Teleport Dialog
 */
.teleport-dialog-form img {
    cursor: pointer;
    filter: alpha(opacity=30);
    height: 100px;
    margin: 0 .5em;
    opacity: .3;
    width: 100px;
}

.teleport-dialog-form img:hover,
.teleport-dialog-form img.hover,
.teleport-dialog-form img.current {
    filter: alpha(opacity=100);
    opacity: 1;
}

.teleport-dialog-form img.current {
    cursor: default;
}
/* end: Teleport Dialog*/

/*
 * Errors
 */
fieldset.error {
    font-weight: bold;
    padding: 1em;
    padding-top: 0\9;
}

fieldset.error legend {
    color: red;
    margin-bottom: 1em\9;
}

fieldset.error div.p10 {
    padding: 0;
}

.top-error {
    margin-bottom: 1em;
    text-align: center;
}

.top-error fieldset {
    border: 2px solid #6C7B8A;
    display: inline-block;
    *display: inline;
    font-size: 12px;
    text-align: left;
    *zoom: 1;
}

.top-error legend {
    color: red;
    font-weight: bold;
}

.top-error .error-content {
    color: #404040;
    font-weight: bold;
}
/* end: Errors */

/*
 * Inventory
 */
.inventory-tabs {
    position: relative;
    zoom: 1;
}

.inventory-tabs .tabs-nav {
    position: relative;
    zoom: 1;
}

.inventory-tabs .total-items {
    width: 300px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 3.5em;
}

.inventory-tabs .items-inventory {
    padding-top: 40px;
}

.stack-all {
    margin-top: -20px;
    margin-bottom: 2px;
}

.inventory-list {
    clear: both;
}

.inventory-list li.odd {
    background-color: #DADADA;
}

.inventory-list li.even {
    background-color: #C8CCD3;
}

.inventory-list-item {
    position: relative;
    margin-bottom: -1px;
    *margin-bottom: -3px;
    *zoom: 1;
}

.inventory-list-item-empty {
    border: 1px solid #696969;
    clear: both;
    padding: .5em;
    text-align: center;
    zoom: 1;
}

/*
 * HP & PW widget
 */
.hp-pw {
    background-image: url(/img/blutbad3d/scale.gif);
    height: 16px;
    text-align: left;
    width: 245px;
}

.hp-pw .hp,
.hp-pw .pw {
    height: 8px;
    width: 0;
}

.hp-pw .hp {
    background-image: url(/img/blutbad3d/green2.gif);
}

.hp-pw .pw {
    background-image: url(/img/blutbad3d/blue1.gif);
}
/* end: HP & PW widget */

/*
 * Letters
 */
.letter-content {
    background-color: #FFFFFF;
    border: 1px solid #7F9DB9;
    padding: 1em;
}
/* end: Letters */

/*
 * Lists
 */
.radio-list li,
.checkbox-list li {
    line-height: 1.6em;
    white-space: nowrap;
}

.radio-list .radio,
.radio-list label,
.checkbox-list .checkbox,
.checkbox-list label {
    vertical-align: middle;
}

.radio-list .radio,
.checkbox-list .checkbox {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ul.item-description {
    list-style: 0;
    padding-left: 0;
}

ul.item-description ul {
    list-style: disc;
    padding-left: 1.45em;
}

ul.item-description img.indicator {
    margin-bottom: -2px;
}


.item-description-list {
    list-style: disc;
    padding-left: 1.45em;
}

.item-description-list .attention {
    color: #FF0000;
}
/* end: Lists */

/*
 * Nickname
 */
.nickname {
    font-size: 12px;
    white-space: nowrap;
}

.nickname img {
    margin-bottom: -2px;
}

.nickname .name {
    font-weight: bold;
}

.nickname a.private img {
    margin-bottom: 1px;
}


.nick {
    font-size: 12px;
    white-space: nowrap;
}

.nick .name {
    cursor: pointer;
}

.nick .speak {
    color: #008000;
}

.nick .battle {
    color: #FF0000;
}

.nick-another-city,
.nick-offline {
    color: #707070;
}

.nick-another-city {
    font-style: italic;
}

.nick-another-city .name {
    font-weight: normal;
}

.nick-ignore .name {
    text-decoration: line-through;
}

.nick img {
    margin-bottom: -2px;
}

.nick img.private {
    cursor: pointer;
    height: 9px;
    margin-bottom: 0;
    width: 12px;
}

.nick img.empty,
.nick img.event-side,
.nick img.align,
.nick img.clan,
.nick img.guild,
.nick img.study {
    height: 16px;
    width: 25px;
}

.nick img.location,
.nick img.alcohol,
.nick img.silence,
.nick img.blind,
.nick img.hobble,
.nick img.hurt,
.nick img.zimmune {
    height: 16px;
    width: 16px;
}

.nick img.empty-height {
    width: 1px;
}

.nick img.empty-private {
    width: 12px;
}

.nick img.sex {
    height: 12px;
    width: 12px;
}
/* end: Nickname */


/*
 * Pagination
 */
.top-pagination {
    margin-bottom: 1em;
    width: 100%;
}

.top-pagination .total {
    padding-left: 1em;
    text-align: right;
}

.bottom-pagination {
    margin-top: 1em;
}

div.pagination {
    display: inline;
}

div.pagination a,
div.pagination span {
    margin-left: .3em;
}

div.pagination .current {
    font-weight: bold;
}
/* end: Pagination */

/*
 * Quests
 */
.quest-col .block {
    padding: 20px;
}

.quest-col .note {
    font-weight: bold;
    text-align: center;
}

.quest-table {
    width: 100%;
}

.quest-table .npc-col,
.quest-table .npc-col .inner {
}

.quest-table .npc-col {
    text-align: center;
    padding-right: 1em;
}

.quest-col h3 {
    color: #8B0000;
    font-size: 1.4em;
    margin-bottom: .75em;
    text-align: center;
}

.quest-col h5 {
    font-size: 1.1em;
    margin-bottom: .9em;
}

.quest-description,
.quest-aims,
.quest-rewards,
.quest-conditions {
    margin-top: 1em;
}

.quest-rewards .section-title {
    font-size: .9em;
    font-weight: bold;
    margin-bottom: 1em;
}

.rewards-list li,
.conditions-list li {
    display: inline;
}

.rewards-list li img,
.conditions-list li img {
    margin: 0 .5em .5em 0;
}

.selectable-rewards-list li {
    display: inline-block;
    *display: inline;
    margin-bottom: .5em;
    text-align: left;
    vertical-align: middle;
    width: 105px;
    white-space: nowrap;
    *zoom: 1;
}

.selectable-rewards-list li .radio {
    vertical-align: middle;
}

.reward-items {
    display: inline;
}

.reward-items li {
    display: inline;
    margin: 0;
    width: auto;
    *zoom: 0;
}

.reward-items li img {
    vertical-align: middle;
}

.quest-col .bottom-buttons .button {
    float: left;
    margin: 1em .5em 0 0;
}
/* end: Quests */

/*
 * Right column
 */
.right-col .block {
    background-color: #DAC7A5;
    border: 1px solid #71818D;
}

.npc-panel {
    height: 45px;
    margin-bottom: 1em;
    text-align: left;
    white-space: nowrap;
    float: right;
}

ul.npc-panel {
    /*overflow: hidden;*/
    /*	width: 205px;*/
}

.npc-panel li {
    *display: inline;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    /*display: inline;
    *float: left;
    *zoom: 1;*/
}

.npc-panel li span {
    float: left;
    height: 41px;
    position: relative;
    width: 41px;
}

.npc-panel li img {
    left: 0;
    position: absolute;
    top: 0;
}

.npc-panel li .avatar {
    height: 41px;
    width: 41px;
}

.npc-panel li .status {
    height: 45px;
    width: 47px;
}

.npc-panel li img.status,
.npc-panel li img.hover {
}

.npc-panel li img.avatar-highlight {
    border: 3px solid #FFF0AA;
    margin: -3px;
}

#npc-arrow,
#menu-arrow {
    position: absolute;
}

.right-col .buttons {
    text-align: center;
}

.right-col .buttons .button, .right-col .buttons .xbutton, .right-col .buttons .xgbutton, .right-col .buttons .xbbutton{
    margin: 0 .2em 1em;
    width: 90px;
}

.near-rooms {
    margin-bottom: 1em;
    padding: .5em;
    text-align: center;
}

.near-rooms .room-name {
    color: #8B0000;
    font-size: 1.27em;
    font-weight: bold;
    margin-bottom: .8em;
}

.near-rooms .near-rooms-list {
    display: inline-block;
    *display: inline;
    margin-top: .8em;
    text-align: left;
    *zoom: 1;
}

.near-rooms .near-rooms-list a {
    font-size: 12px;
    font-weight: bold;
    *float: left;
}
/* end: Right column */

/**
 * Slot
 */
.slot {
    position: relative;
}

/**
 * Slot enchants
 */
.slot .enchants {
    position: absolute;
    right: 0px;
    top: 1px;
}

.slot .enchants li {
    float: left;
    font-size: 0;
    line-height: 0;
    margin: 1px;
    overflow: visible;
    position: static;
}

.inventory-list .slot,
.items-table .slot,
.sell-table .slot {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
/* end: Slot */


/*
 * Smiles
 */
#smiles-dialog {
    display: none;
}

#smiles-groups {
    margin-bottom: 1em;
    width: 100%;
}

#smiles-groups td {
    padding: 0 .5em;
    vertical-align: middle;
    width: 50%;
}

#smiles-groups .first {
    padding-left: 0;
}

#smiles-groups .last {
    padding-right: 0;
}

#smiles-groups a {
    background-color: #C0C0C0;
    display: block;
    font-weight: bolder;
    padding: .2em;
    text-align: center;
    _zoom: 1;
}


#smilies-tabs {
    display: none;
}

#smilies-tabs .ui-tabs-nav {
}

#smilies-tabs .ui-tabs-nav li {
    background-color: #C0C0C0;
    display: inline-block;
    *display: inline;
    font-weight: bold;
    text-align: center;
    width: 47%;
    *zoom: 1;
}

#smilies-tabs .ui-tabs-nav li.last {
    margin-left: 4%;
}

#smilies-tabs .ui-tabs-nav a {
    font-weight: bold;
    display: block;
    padding: .2em;
}

#smilies-tabs .ui-tabs-panel {
    margin-top: 1em;
}

#smilies-tabs .ui-tabs-panel img {
    cursor: pointer;
    padding: .2em;
}

#smilies-tabs .ui-tabs-panel img:hover,
#smilies-tabs .ui-tabs-panel img.hover {
    background-color: #FFF;
    border: 1px dashed #5A99FC;
    margin: -1px;
}

#smilies-tabs .ui-tabs-hide {
    display: none;
}
/* end: Smiles */

/*
 * States
 */
.char-states {
    margin-top: 1em;
    width: 100%;
}

.char-states th {
    background-color: #7F9DB9;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    padding: 1px;
}

.char-states td {
    background-color: #DFDFDF;
    border-top: 1px solid #DFDFDF;
    padding: 3px;
    vertical-align: middle;
}

.char-states td.img {
    width: 35px;
}

.char-states td.img img {
    height: 35px;
    width: 35px;
}

.char-states td.img img.active {
    cursor: pointer;
}

.char-states .name,
.char-states .value {
    border-top: 0;
    padding: 0 1px;
}

.char-states .name {
    text-align: right;
    width: 60%;
}

.char-states .value {
    font-weight: bold;
}

.char-abilities {
}

.char-abilities td {
    padding: 3px 1px;
    text-align: center;
}

.char-abilities td.empty {
    background-image: url(/img/blutbad3d/char_rune.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.char-abilities img {
    vertical-align: middle;
}

.char-abilities a img {
    vertical-align: top;
}
/* end: States */

/*
 * Table layout
 */
.main-table .right-col,
.main-table .right-col-inner {
    width: 255px;
}

.main-table .right-col-small,
.main-table .right-col-inner-small {
    width: 100px;
}

.main-table .right-col {
    padding-left: 10px;
}

.page-map .right-col {
    padding-top: 0;
    width: auto;
}

.right-col-float {
    position: relative;
}
/* end: Table layout */

/*
 * Tables
 */
.table-list {
    background-color: #DADADA;
    border: 1px solid #7F9DB9;
    width: 100%;

    outline: none;
    -moz-box-shadow: 0 0 1px 1px #8C9EAC;
    -khtml-box-shadow: 0 0 1px 1px #8C9EAC;
    -webkit-box-shadow: 0 0 1px 1px #8C9EAC;
    box-shadow: 0 0 1px 1px #8C9EAC;
    border-color: #8C9EAC;
    border: 1px solid #8C9EAC;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.table-list thead th {
    background-color: #CACBCE;
}

.table-list th,
.table-list td {
    border: 1px solid #7F9DB9;
    padding: .3em .5em;
}

.table-list tr.even,
.table-list tr.even td {
    background-color: #C5CED5;
}

.table-list tbody tr:hover,
.table-list tbody tr.even:hover td,
.table-list tbody tr.odd:hover td {
    background-color: #C8CCD3;
}

.table-list th.date-time,
.table-list td.date-time,
.table-list th.text,
.table-list td.text {
    text-align: left;
}

.table-list thead th.number {
    text-align: center;
}

.table-list tbody th.number,
.table-list tbody td.number {
    text-align: right;
}

/*.table-list tbody .odd th,
.table-list tbody .odd td {
	background-color: #D4DCE6;
}

.table-list tbody .even th,
.table-list tbody .even td {
	background-color: #DFDFDF;
}*/

/* form */
.form-table {
    line-height: 1.48em;
}

html.webkit .form-table {
    line-height: 1.8em;
}

.form-table td {
    padding: 2px 0;
    text-align: left;
}

.form-table td.label {
    padding-right: .5em;
}

.form-table input.text-wide {
    width: 99%;
}

.form-table textarea {
    margin: 0; /* general.css override */
}

.form-table li input,
.form-table li label {
    vertical-align: middle;
}

.form-table li input {
}

.form-table .checkbox,
.form-table .radio {
    margin-left: 0;
    margin-left: -3px\9;
    *margin-left: -4px;
    *margin-top: -2px;
    vertical-align: middle;
}

html.webkit .form-table .checkbox,
html.webkit .form-table .radio {
    margin-left: 2px;
}

.form-table .input label {
    vertical-align: middle;
}
/* end: form */


.quick-user-info {
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #DEE2E7;
    border: 1px solid #71818D;
    border-radius: 3px;
    width: 100%;
    border-collapse: initial;
}

.quick-user-info td {
    padding: 3px 5px;
}

.quick-user-info .name {
    text-align: left;
}

.quick-user-info .value {
    font-weight: bold;
    text-align: right;
    white-space: nowrap;
}


.items-filter {
    width: 100%;
}

.items-filter th {
    padding: 1px .5em 0 0;
    text-align: left;
}

.items-filter .levels,
.items-filter .groups {
    width: 100%;
}

.items-filter .levels a,
.items-filter .groups a,
.items-filter .groups span {
    vertical-align: middle;
}

.items-filter .levels a,
.items-filter .groups a {
    border: 1px solid #DFE1E2;
    display: inline-block;
    *display: inline;
    line-height: 1em;
    margin: 0 0 .2em 0;
    padding: 2px .2em;
    *padding-top: 1px;
    *padding-bottom: 3px;
    white-space: nowrap;
    *zoom: 1;
}

.items-filter .levels a {
    border-color: #556775;
    padding-left: .6em;
    padding-right: .6em;
}

.items-filter .levels .selected,
.items-filter .groups .selected,
.items-filter .levels a:hover,
.items-filter .groups a:hover {
    background-color: #556775;
    border-color: #556775;
    color: #FFFFFF;
}

.items-filter .levels .disabled,
.items-filter .groups .disabled {
    color: #777777;
}

.items-filter .item-search {
    padding-left: .5em;
}

.items-filter .form {
    background-color: #C0CBD4;
    padding: .5em .6em .4em .7em;
    white-space: nowrap;
}

.items-filter .form .text,
.items-filter .form img {
    vertical-align: middle;
}

.items-filter .form img {
    cursor: pointer;
}

.items-filter .item-search-submit {
    background: url('/img/blutbad3d/b_zoom34.gif');
    border: 0;
    cursor: pointer;
    height: 16px;
    padding: 0;
    vertical-align: middle;
    width: 16px;
}

/* Items table */
.items-table {
    width: 100%;
}

.items-table .img {
    text-align: center;
    width: 120px;
}

.items-table .description ul {
    list-style: disc;
    padding-left: 1.45em;
}
/* end: Items table */

.buy-table {
    margin-top: 1em;
}

.shop-table th.number {
    text-align: right;
    width: 1%;
}

.shop-table .description {
    width: 100%;
}

.shop-table .description img {
    vertical-align: text-top;
}

.shop-table tbody th {
    text-align: right;
}

.shop-table .img {
    text-align: center;
}

.shop-table .name {
    white-space: nowrap;
}

.shop-table .actions {
    text-align: right;
}

.shop-table .actions li {
    /*margin-bottom: .5em;*/
    white-space: nowrap;
}

.shop-table .actions li * {
    vertical-align: middle;
}

.shop-table .actions li img {
    cursor: pointer;
}

.shop-table .actions li img.disabled {
    cursor: default;
    filter: alpha(opacity=20);
    opacity: .2;
}

.shop-table .actions-table td {
    border: 0;
    padding: 0 0 .2em .3em;
    text-align: left;
    vertical-align: middle;
}

.shop-table .actions-table img,
.shop-table .actions-table input {
    vertical-align: middle;
}

.shop-table .actions-table img {
    cursor: pointer;
}

.shop-table .actions-table img.disabled {
    cursor: default;
    filter: alpha(opacity=20);
    opacity: .2;
}

.shop-list .search-result {
    font-style: italic;
    font-weight: bold;
    margin-top: 1em;
}

.shop-list .no-result {
    font-style: normal;
    text-align: center;
}

.ui-dialog .price-table td {
    padding: .15em .25em;
    vertical-align: middle;
}
/* end: Tables */

/*
 * Text styles
 */
.text p {
    margin: 1em 0;
}

.text ol,
.text ul {
    margin: 1em 0;
    padding-left: 30pt;
}

.text ol {
    list-style: decimal;
}

.text ul {
    list-style: disc;
}

.text li {
    margin: 1em 0;
}
/* end: Text styles */

/*
 * Tooltip
 */
#tooltip {
    background-color: #F0F9BB;
    border: 1px solid #000000;
    font-size: .9em;
    padding: .2em .5em;
    position: absolute;
    z-index: 3000;
}

#tooltip .item .title {
    font-weight: bold;
}

#tooltip .item .broken {
    color: #FF0000;
}

#tooltip .item ul.description,
#tooltip .item ul.properties {
    list-style: disc;
    padding-left: 1.45em;
}

#tooltip .item ul.description span,
#tooltip .item ul.properties span,
#tooltip .item ul.description img,
#tooltip .item ul.properties img {
    vertical-align: middle;
}
/* end: Tooltip */


/*
 * Top panel
 */
.top-panel {
    margin-bottom: 1em;
}

.top-panel .hp-pw-col {
    padding-left: 1em;
}

.top-panel .buttons {
    padding-left: 1em;
    text-align: right;
    white-space: nowrap;
}

.top-panel .nick {
    position: relative;
    top: -1px;
}

.top-panel .buttons .button {
    width: 90px;
}
/* end: Top panel */


.ya-share {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.help-hint {
    border: 1px solid #55589C;
    overflow: visible;
}

.help-hint .tl,
.help-hint .tr,
.help-hint .bl,
.help-hint .br {
    height: 40px;
    position: absolute;
    width: 40px;
}

.help-hint .tl {
    background-image: url(/img/blutbad3d/helphints/help_hint_tl.gif);
    left: -1px;
    top: -1px;
}

.help-hint .tr {
    background-image: url(/img/blutbad3d/helphints/help_hint_tr.gif);
    right: -1px;
    top: -1px;
}

.help-hint .bl {
    background-image: url(/img/blutbad3d/helphints/help_hint_bl.gif);
    left: -1px;
    bottom: -1px;
}

.help-hint .br {
    background-image: url(/img/blutbad3d/helphints/help_hint_br.gif);
    right: -1px;
    bottom: -1px;
}

.help-hint .ui-dialog-titlebar-close {
    display: none;
}

#help-hint {
    padding: 1em 1.5em;
}

/*
 * Temp (тяжкое наследие main и general css-файлов)
 */
.user1 {
    color: #b50;
    font-weight: bold;
}

.user2 {
    color: #05b;
    font-weight: bold;
}

.user3 {
    color: #b50;
    font-weight: bold;
    font-style: italic;
}

.user4 {
    color: #05b;
    font-weight: bold;
    font-style: italic;
}

.hidden {
    display: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.blue {
    color: #3d54b8;
}

.red {
    color: #a50b0b;
}

.green {
    color: #3f8425;
}

.darkred {
    color: #8B0000;
}

.purered {
    color: red;
}

.bplus {
    color: #007700;
    font-weight: bold;
}

.b,
.bold {
    font-weight: bold;
}

.i {
    font-style: italic;
}

.tac {
    text-align: center;
}

.tar {
    text-align: right;
}

.tar2 {
    text-align: right !important;
}

.tal {
    text-align: left;
}

#hint1 {
    position: absolute;
    visibility: hidden;
    z-index: 99;
}

.hint {
    border: 1px solid  #000000;
    background: #F0F9BB;
    font-size: .9em;
    padding: .2em .5em;
}

#win1 {
    left: 50px;
    position: absolute;
    top: 70px;
    width: 200px;
    z-index: 3000;
}

#win1 td {
    padding: 1px;
}

#win1 td td,
#win1 th {
    padding: 3px;
}

#room_delay {
    margin: 6px auto 0;
    width: 160px;
}

#win2 td {
    vertical-align: middle;
}

.nick .hp {
    background: none
}

div.help_hint {
    border: 1px solid black;
    overflow: hidden;
    position: absolute;
    text-align: center;
    z-index: 10000;
}

div.help_hint .transparency {
    background-color: #fafda5;
    filter: alpha(opacity = 70);
    left: 0px;
    opacity: 0.7;
    -moz-opacity: 0.7;
    position: absolute;
    top: 0px;
    z-index: -1;
}

div.help_hint td.help_hint_content {
    color: #000000;
    font-weight: bold;
    font: normal 11px / 14px Verdana, sans-serif;
    text-align: center;
    vertical-align: middle;
}

.date {
    color: #209020;
    font-family: Courier, monospace;
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none;
}

.attention .countdown_row {
    color: #FF0000;
}

.sale {
    background-color: #F1F5AB;
}

/* end: Temp */





.hpStyle1 {
    color: #F4F4F4;
    line-height: 7px;
    font-size: 9px;
    font-weight: bold;
}
.tab-header {
    border-bottom: 1px solid #7F9DB9;
    font-size: 12px;
    margin-bottom: 1em;
    padding-bottom: 1em;
}


.ghp{ color:#A50B0B;}
.gma{ color:#008000; }
.cuvor{ color:#0000FF; }
.ckrit{ color:#FF0000;  }

img.separator {width: 100%;}

.xbbutton {font-weight: bold; background: #6181A6 url("/img/blutbad3d/button/buttons_1.png") repeat-x scroll 0 -15px; color: #ECECEC; font-size: 11px; text-shadow: 0px 1px 0px #000; padding: 2px 10px 2px 10px; cursor: pointer; border: 1px solid #254D77; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px;}
.xbbutton:hover {background:url("/img/blutbad3d/button/buttons_1.png") repeat-x scroll 0 -12px;border: 1px solid #254D77;}
.xbbutton:active {outline:none;background:#6181A6;position:relative;border:1px solid #254D77;}
.xbbutton:focus {outline:none;background:#6181A6;position:relative;border:1px solid #254D77;}
.xbbutton:disabled {outline:none;background:#7B888E;position:relative;border:1px solid #354F69;color: #BABABA;}

.xbutton {font-weight: bold; background: #79A762 url("/img/blutbad3d/button/buttons_2.png") repeat-x scroll 0 -16px; color: #FFFFFF; font-size: 11px; text-shadow: 0px 1px 0px #000; padding: 2px 10px 2px 10px; cursor: pointer; border: 1px solid #3E7815; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px;}
.xbutton:hover {background:url("/img/blutbad3d/button/buttons_2.png") repeat-x scroll 0 -12px;border: 1px solid #3B7812;}
.xbutton:active {outline:none;background:#79A762;position:relative;border:1px solid #29550C;}
.xbutton:focus {outline:none;background:#79A762;position:relative;border:1px solid #29550C;
    -o-box-shadow: 0 0 1px 1px #5BD959;
    -moz-box-shadow: 0 0 1px 1px #5BD959;
    -khtml-box-shadow: 0 0 1px 1px #5BD959;
    -webkit-box-shadow: 0 0 1px 1px #5BD959;
    box-shadow: 0 0 1px 1px #5BD959;
}
.xbutton:disabled {outline:none;background:#818E7B;position:relative;border:1px solid #365422;}

.xgbutton {font-weight: bold; background: #A6A5A5 url("/img/blutbad3d/button/buttons_3.png") repeat-x scroll 0 -14px; color: #222; font-size: 11px; text-shadow: 0px 1px 0px #9B9797; padding: 2px 10px 2px 10px; cursor: pointer; border: 1px solid #2D2E2C; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px;}
.xgbutton:hover {background:url("/img/blutbad3d/button/buttons_3.png") repeat-x scroll 0 -12px;border: 1px solid #2D2E2C;}
.xgbutton:active {outline:none;background:#A6A5A5;position:relative;border:1px solid #2D2E2C;}
.xgbutton:focus {outline:none;background:#A6A5A5;position:relative;border:1px solid #2D2E2C;
    -o-box-shadow: 0 0 1px 1px #98A597;
    -moz-box-shadow: 0 0 1px 1px #98A597;
    -khtml-box-shadow: 0 0 1px 1px #98A597;
    -webkit-box-shadow: 0 0 1px 1px #98A597;
    box-shadow: 0 0 1px 1px #98A597;
}
.xgbutton:disabled {outline:none;background:#A6A5A5;position:relative;border:1px solid #2D2E2C;}

.top-error fieldset {
    background-color: #DFDFDF;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.B1 { font-weight: bold; color: #bb5500}
.B2 { font-weight: bold; color: #0055bb}
.B { font-weight: bold;}

.btn_baccept {
    background: url(/img/blutbad3d/baccept.gif);
    border: 0;
    cursor: pointer;
    height: 16px;
    padding: 0;
    vertical-align: middle;
    width: 16px;
    display: inline-block;
}

#blockinbox {
    position: fixed;
    z-index: 5000000;
    overflow: hidden;
    bottom: 20px;
    display: block;
    right: 10px;
    padding: 10px;
    background-color: #ffcfa8;
    border: 2px solid #985506;
    border-radius: 3px;
}
