#referral-link.hover {
    color: #A50B0B;
}

.color-table {
}

.color-table .label {
    width: 11em;
}

.color-table .preview {
    background-color: #F0F0F0;
    padding: .5em;
}

.color-table .colorpicker-container {
    padding-left: 1em;
    width: 200px;
}

#community-table td {
    padding: 0 1em .5em 0;
}

#animal-table .desc {
    padding-left: 1em;
}

#animal-table ul {
    padding-left: 1.5em;
}

#animal-table ul,
#animal-table li {
    margin: 0;
}

.tabs-content .rune {
    float: left;
    margin: 3px 3px 3px 0;
}

#turbo-start {
    background-color: #FF0000;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    padding: .5em;
}

.no-flash {
    background-color: #FFFFFF;
    border: 1px solid;
    display: none;
    font-size: 1.05em;
    margin-bottom: 1em;
    padding: .5em;
    text-align: center;
}

#userbars {
    list-style: none;
    padding-left: 0;
}

#userbars .radio,
#userbars img {
    vertical-align: middle;
}

#userbar-settings input {
    margin: 0;
}

.commerce-table {
    width: 100%;
}

.commerce-table td {
    padding: .2em; .1em;
}

.commerce-table .label {
    padding-left: 0;
    white-space: nowrap;
    width: 1%;
}

.commerce-table label {
    display: block;
    margin-top: .1em;
}

#autoanswer {
    width: 98%;
}
