#menu {
    position: absolute;
    z-index: 2;
}

#playerMenu {
    z-index: 2;
    background-color: yellow;
    width: 200px;
    height: 100px;
}

#myPlayer {
    font-weight: bold;
}

#game-field {
    position: relative;
    width: 1024px;
    height: 720px;
}
