td {
    width: 40px;
    height: 40px;
    background-color: #9dff00;
    border: 1px solid;
    text-align: center;
}

#world {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: liner-gradien(#e4e0ba, #f7d9aa);
}

#stop {
    top: 92px;
    right: -100px;
    position: relative;
    z-index: 2;
}